<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="nav">

  <div class="navbar-wrapper">

    <div class="top-line"></div>

    <div class="container">

      <div class="d-flex justify-content-end align-items-center py-2">
        <a href="#" class="top-bar-link">Order Tracking</a>
        <span class="text-white mx-2">|</span>

        <th:block th:if="${#authentication == null or #authentication.principal == 'anonymousUser'}">
          <a th:href="@{/login}" class="top-bar-link">
            <i class="fa-solid fa-user"></i> Login / Register
          </a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
          <a th:href="@{/customer/dashboard}" class="top-bar-link">
            <i class="fa-solid fa-user"></i> My Account
          </a>
        </th:block>
      </div>

      <div class="d-flex justify-content-between align-items-center py-4">

        <div class="d-none d-lg-flex">
          <a href="https://www.facebook.com/bharatheswar.kodali/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://pin.it/1hDVdeRKy" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
          <a href="https://www.instagram.com/avnistudio" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="https://wa.me/919490334557" class="social-icon"><i class="fab fa-whatsapp"></i></a>
        </div>

        <a th:href="@{/}">
          <img th:src="@{/images/Chaknik_Logo.png}" alt="Logo" class="center-logo">
        </a>


        <div class="d-flex">
          <a href="#" class="icon-btn"><i class="fa-solid fa-bag-shopping"></i></a>
          <a href="#" class="icon-btn"><i class="fa-regular fa-heart"></i></a>
          <a href="#" class="icon-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg p-0">
        <button class="navbar-toggler ms-auto" type="button"
                data-bs-toggle="collapse" data-bs-target="#bottomNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center py-2" id="bottomNavbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link bottom-bar-link" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" th:href="@{/products}">New Arrivals</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" th:href="@{/products?category=Clothing}">Clothing</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" th:href="@{/products?category=Accessories}">Accessories</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" href="#">Sale</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" href="#">Gift Card</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" href="#">FAQs</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" href="#">Currency</a></li>
            <li class="nav-item"><a class="nav-link bottom-bar-link" href="#">Store</a></li>
          </ul>
        </div>

      </nav>

    </div>
  </div>
</div>


</body>
</html>



<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Boutique</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      </ul>

      <ul class="navbar-nav">

        &lt;!&ndash; Show Login when NOT authenticated &ndash;&gt;
        <li class="nav-item" th:if="${#authentication == null or #authentication.principal == 'anonymousUser'}">
          <a class="nav-link" href="/login">Login</a>
        </li>

        &lt;!&ndash; Show Logout when authenticated &ndash;&gt;
        <li class="nav-item" th:if="${#authentication.principal != 'anonymousUser'}">
          <form action="/logout" method="post">
            <button class="btn btn-danger btn-sm">Logout</button>
          </form>
        </li>

      </ul>

    </div>
  </div>
</nav>

</body>
</html>
-->
